################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Proyecto-Clinica-ST-Web/CopilotIndices/17.13.441.19478
