################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/02_App-Web-MVC/MVC-Razor/.vs
